<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
</head>
<body>
    <h1><%=locals.country%></h1>
    <h2>Articles number: <%=locals.articles.length%></h2>
    <% if (locals.articles.length > 0 && locals.articles) { %>
    <% locals.articles.forEach(item => { %>
        <h3><%=item.title%></h3>
        <a href="<%=item.url%>"><%=item.url%></a>
        <p><%=item.source%></p>
    <% }) %>
    <% }%>
</body>
</html>